<div class="row">
    <h3 class="center-align">Cambio de Clave</h3>
    <article class="col s6 offset-s3">
        <form [formGroup]="fgValidator" (ngSubmit)="CambioClave()" method="POST" action="formulario-contacto.php">
            <input type="hidden" formControlName="id">
            <div class="input-field">
               
                <input formControlName="identificacion" type="hidden" name="identificacion" required>
            </div>

            <div class="input-field">
                
                <input formControlName="nombres" type="hidden" name="nombres" required>
            </div>

            <div class="input-field">
               
                <input formControlName="apellidos" type="hidden" name="apellidos" required>
            </div>
            <div class="input-field">
                
                <input formControlName="telefono" type="hidden" name="telefono" required>
            </div>
            <div class="input-field">
                <label for="correo">Correo</label>
                <input formControlName="correo" type="text" name="correo" required>
            </div>

           


            <p class="center-align">
                <button [disabled]= "!fgValidator.valid" class="waves-effect waves-light btn" type="submit"><i
                        class="material-icons right">message</i>Enviar nueva clave</button>
            </p>

        </form>

    </article>
</div>
